{{ partial "header.html" . }}

<h1>Noter til HLK-semesteret på AU</h1>

<p>
    Her er min notesamling lavet under HLK-semesteret (9. semester) på Aarhus Universitets medicinstudie i foråret 2017.
</p>

<p>
    Der er en inddeling i menuen til venstre i <a href="/forelaesning">forelæsninger</a> (alle emner) og noter til pensumbøger i <a href="/kardiologi">kardiologi</a>, <a href="/lungemedicin">lungemedicin</a>, <a href="/karkirurgi">karkirurgi</a> og <a href="/thoraxkirurgi">thoraxkirurgi</a>.
</p>

{{ partial "footer.html" . }}
